.top-bar #site-logo.Tumi-logo, .footer-container .Tumi-logo{
    display: block;
    width: 120px;
}

.banner-container .banner-overlay{
    background-image: url('../images/austin-texas-wp.jpg');
}

.Social-icon{
    font-size: 32px;
}

.content-button{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.Tumi .Tumi-inlineLink{
    display: initial;
}

.Tumi .Tumi-backishBg{
    background-color: rgba(0, 0, 0, 0.65);
}

.Tumi .Tumi-white{
    color: #ffffff;
}