.top-bar #site-logo.Tumi-logo, .footer-container .Tumi-logo{
    display: block;
    width: 160px;
}

.mobile-section-bg img.img-cover{
    object-position: 59%;
}

.About-title{
    margin-top: 2.85rem;
}

.Tumi .Smbs-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25px;
    width: 100%;
}

.Tumi .Smbs-copyright p{
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.Tumi .Tumi-contactInput{
    border-bottom: 1px solid #525354;
}

.Tumi .banner-container{
    min-height: 45vh;
}

.Tumi .banner-container.home-banner{
    min-height: 100vh;
}

.Tumi .banner-container .banner-overlay{
    background-image: url('../images/housekeeping.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.Social-icon{
    font-size: 32px;
}

.content-button{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.Tumi .Tumi-subtitle{
    color: #fff;
    font-size: 1rem;
}

.Tumi .Tumi-inlineLink{
    display: initial;
}

.Tumi .Tumi-backishBg{
    background-color: rgba(0, 0, 0, 0.65);
}

.Tumi .Tumi-aboutText{
    color: #ffffff;
}

.Tumi .Tumi-img-responsive{
    display: block;
    width: 100%;
}

.Tumi .Services-table td{
    padding-left: 5px;
    padding-right: 5px;
}

.About-story{
    background: #fff;
    padding: 1rem;
}

.About-storyTitle{
    margin-bottom: 0.5rem;
}

.About-storySubtitle{
    display: block;
    margin-bottom: 1.5rem;
}

.About-image{
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}

.About-storyContent{
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
}

.About-storyWrapper{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.About-storyWrapper.reversed{
    flex-direction: row-reverse;
}

@media(min-width: 1024px){
    .Tumi .Tumi-subtitle{
        color: #000;        
    }    
}

@media(max-width: 1023.95px){
    .top-bar #site-logo.Tumi-logo, .footer-container .Tumi-logo{
        max-width: 75px; 
        width: 100%;
    }

    .Tumi .Tumi-aboutText{
        color: #000000;
    }

    .About-storyWrapper, .About-storyWrapper.reversed{
        flex-direction: column;
        justify-content: center;
    }

    .About-image{
        margin-bottom: 1.5rem; 
    }
}

/* Original style uses this measure for some reason */
@media screen and (min-width: 64em){
    .top-bar #site-logo.Tumi-logo{
        left: 80px;
    }
    
    .Tumi .banner-container .banner-content{
        top: 75%;
    }

    .Tumi footer#site-footer.Footer{
        padding-bottom: 36px;
        padding-top: 36px;
    }
}

@media screen and (min-width: 80em){
    .top-bar #site-logo.Tumi-logo{
        left: -75px;
    }
}