.top-bar #site-logo.Tumi-logo, .footer-container .Tumi-logo{
    display: block;
    width: 120px;
}

.banner-container .banner-overlay{
    background-image: url('../images/austin-texas-wp.jpg');
}

.Social-icon{
    font-size: 32px;
}

.content-button{
    margin-bottom: 2rem;
    margin-top: 2rem;
}